
.jumbotron.collapsed {
    padding: 10px;
}
.custom-button {
    cursor: pointer;
}
.selectable {
    background-color: #ddd;
}
.custom-button:hover {
    background-color: #ddd;
}

#added-modules {

    background-color: lightgoldenrodyellow;
    border: solid 1px #ddd;
    height: 4em;
    max-height: 8em;
    display: block;
    overflow: scroll;
}

.label {
    color: black;
}

#btn-sender {
    background: white;
}

.module-row {
    list-style: none;
    border: solid #ddd 1px;
    background: white;
    padding: 0.5em;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.module-row:hover {
    background: #ddd;
}